header
{
	background-color: #003300;
	height: 70px;
	color: white;
	padding: 0px;
	margin: 0px;
}

#opcao
{
	height: 600px;
	float: left;
	padding: 0;

}

#opcao li
{
	list-style: none;
	background-color: #fff;
	width: 250px;
	border-bottom: 1px solid #666; 
}

#opcao li a
{
	display: block;
	padding: 10px;
	border-left: 4px #444 solid;
	text-decoration: none;
	box-shadow: 2px 2px 5px #ccc;
	color: #555;
}

#opcao li a:hover
{
	border-left: 4px solid #069;
	background: #f8f8f8;
}

#opcao li ul
{
	display: none;
}

#opcao li:hover ul
{
	display: block;
}

#opcao li:hover ul li
{
	background: #333;
}

#opcao li:hover ul li a
{
	color: #ccc;
}

#opcao li:hover ul li a:hover
{
	background: #222;
	border-left: 4px solid #900;
}

*
{
	padding: 0px;
	margin: 0px;
}

body
{
	background-color: #f1f1f1;

}

nav
{
	background-color: #008000;
	height: 650px;
	width: 250px;
	margin: 0px 0px 100px 0px;
	color: white;
	float: left;
	margin-top: 70px;
}


.textarea
{
	border-radius: 5px;
	border: 2px solid black;
}



.formulario
{
	background-color: white;
	min-height: 300px;
	min-width: 980px;
	margin: 100px 0px 0px 80px;
	padding: 50px 20px 20px 20px;
	border: 1px solid #05caf5;
	border-radius: 30px;
	border-bottom-color: red;
	border-top-color: red;
	float: left;
}



.text:focus
{
	border-radius: 5px;
	border: 1px solid;
}


}

.buttom
{
	margin: 50px 0px 0px 0px;
	right: 115px;
	position: solid;
}

.buttomConfirmar
{
	border: 1px solid #009900;
	border-radius: 10px;
	margin: 40px 0px 0px 0px;
	color: white;
	background-color: #009900;
}

.buttomLimpar
{
	border: 1px solid #999900;
	border-radius: 10px;
	margin: 40px 0px 0px 0px;
	color: white;
	background-color: #999900;
}

.buttomCancelar
{
	border: 1px solid #990000;
	border-radius: 10px;
	margin: 40px 0px 0px 0px;
	color: white;
	background-color: #990000;
}

footer
{
	background-color: #003300;
	height: 100px;
	text-align: center;
	color: white;
	margin: 650px 0px 0px 0px;
}